<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="MHWDbContextLocalDb" connectionString="server=(localdb)\MSSQLLocalDB;database=MHWDb;Trusted_Connection=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
	<add name="MHWDbContext" connectionString="server=localhost;database=MHWDb;User Id=sa;Password=yourStrong(!)Password;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>